/* #planforFLELD {
width: 50%;
float: left;
} */

/* #planforMAIL {
    width: 50%;
    float: right;
} */
#executTEXT {
    display: flex;
    margin-top: 200px;
}


.boxEXEmail {
    margin-top: 0px;
    width: 45%;
    margin-left: auto; 
}

.boxEXEplan {
    margin-top: 0px;
    width: 45%;
    margin-right: auto; 
}


#standartTEXT {
  width: 20%;
  float: right;

    }

#boxEDITER {
    display: flex;
width: 75%;

}

.boxEditPLANEmail {
    width: 45%;
    margin-left: auto;
}

.boxEditPlaneFLELD {
    width: 45%;
    margin-right: auto;
}


/* для блока */
.card {
    color: #ffffff;
    border: 1px solid;
    border-color: #b6b6b6;
    
  }

/* чтобы текст подсвечивался */
.boxTEXT {
    color: #000000;
    background-color: #ffffff;
    border: 3px solid #ecbcbc;
  }