.card {
    border: thick double #32a1ce;
  }


#date {
    width: 100%;
}

#allplan {
    width: 100%;
}

#planforFLELD {
width: 50%;
float: left;
}

#planforMAIL {
    width: 50%;
    float: right;
}

#signatureMAIL {

width: 100%;
}

.dateBox {
    width: 30%;
}

.signatureBox {
    width: 30%;
}

.jobtextBox {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/* #textPLAN{
    display: inline-block;
} */