button {
  font-size: 20px;
  background-image: linear-gradient(to left, #f30000ae, #ff969687);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;


  border: none;
  border-radius: 2px;
}
