

.centred {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#header {
  margin-top: 3px;
top: 3px;
width: 100%;
position: fixed;
}

#buttonsMenu {
  top:0px;
}

#boxPLANECREATER {
  position: block;
margin-top: 70px;
z-index: 0;
background-color: #eeecec;
border-style: dotted solid;
width: 90%;
height: 50%;
}

html {
  top:0px;

}