
button {
  font-size: 12px;
  height: 80px;
  width: 100px;
  outline: none;
  margin: 0px;
  border: none;
  border-radius: 2px;
}

.centred {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#header {
top: 3px;
width: 100%;
position: fixed;
}

#boxPLANECREATER {
  position: block;
margin-top: 55px;
z-index: 0;
background-color: #eeecec;
border-style: dotted solid;
width: 90%;
height: 50%;
}
