

#animate {
    z-index: -9999;
    width: 100%;
    height: 200%;
    font-size:10px;
    background: none;
    animation: bodyAnime 2000s infinite alternate;
  }

  @keyframes bodyAnime {
    100% {
      opacity: .2;
      transform: rotate(36000deg);
      opacity: .5;
      transition: .5s,600s linear transform;
      opacity: .2;
    }
}


  #animate:before {
    content: "";
    position: absolute;
    inset: 1000px;
    border-radius:0px; 
    background: conic-gradient(
          #ff53bb ,
          #0000 30deg 120deg,
          #00f8d3 150deg 180deg,
          #0000 210deg 300deg,
          #ff53bb 330deg
      );
    -webkit-mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
            mask-composite: intersect
  }


  #animate:after {
    content: "";
    position: absolute;
    inset: -100px;
    background:
      radial-gradient(200px at left  400px top 150px,#ff53bb 100%,#0000),
      radial-gradient(200px at right 400px bottom 150px,#00f8d3 100%,#0000);
    filter: blur(120px);
    opacity: .5;
  }
  
  #animate:before,
  #animate:after {
    transition:.5s, 99999s 99999s transform;
  }
  
  body {
    background-color: #111;
  }

  #blockanimate {
    width: 50%;
    height: 50%;
    position: absolute;
    z-index: -9999;
    margin-left: 25%;
    margin-right: auto;
    margin-top: auto;
}